.blog_entries{
	width:625px;
	float:left;
}

.bordered_box:before {
	background-color: #000000;
    content: "";
    display: block;
    height: 0.5em;
    width: 100%;
    z-index: 5;
}

.bordered_box {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
}

.box_title {
    color: #000000;
    font-family: "DIN-Regular";
    font-weight: bold;
    height: 1em;
    margin: 4px;
    text-transform: uppercase;
    font-size: 1em;
    display:block !important;
}

.blog_entries > .box_title {
	margin: 8px;
	padding-left: 8px;
	height: 20px;
}

.blog_entry {
    color: #909090;
    font-size: 0.8em;
    padding-bottom: 1em;
}

a {
	color: #000;
}

a:hover {
	color: #555555;
}

.blog_entry .blog_entry_header {
    border-top: 1px solid #D8D8D8;
    padding: 1.5em 1.25em 0.5em;
}

.blog_entry .blog_entry_header .blog_entry_title {
    color: #000000;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
}

.blog_entry .blog_entry_header .blog_entry_subtitle {
    float: left;
    margin-top: 0.5em;
}

.blog_entry .blog_entry_content {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    padding: 1em 1.25em 0.5em;
}

.blog_entry_categories {
    margin-top: 1em;
    padding-left: 1.5em;
    text-transform: uppercase;
}

.right-col {
    float: right;
    margin-left: 0;
    width: 20em;
}

.bordered_box{
	margin-bottom: 10px;
}

.blog_entry img{
	display:block;
	margin:15px auto;
	text-align:center;
	cursor:pointer; 
	cursor:hand;
	max-width: 580px;
	max-height: 500px;
}

.wp-caption {
	width: 100% !important;
}

.wp-caption .wp-caption-text{
	text-align:center;
	font-style: italic;
}

#archive {
	width: 318px;
}

.archive_box{padding: 0 0 10px 0; width: 100% }
.archive_box ul {margin: 0;}
.archive_box li {margin: 0; padding: 0;}
.archive_box li.archive-year{float: left; padding: 5px 0 3px 10px; }
.archive_box li.archive-year a{color:#555555; margin: 0; border: 0px; padding: 0;}
.archive_box li a{ border-left: 1px solid #d6d7d7; padding: 5px 0 3px 10px; margin: 0 0 0 55px; display: block;color:#909090;}
.archive_box li a:hover, .archive_box li a.active {
	color :#000;
}

.blog_entry_footer {
    padding: 10px 20px;
}

.blog_comments {
    padding:20px;
    display: none;
}

.comment {
    padding: 15px 0;
}

.comment-header {
    background-image: url("http://img2.blogblog.com/img/anon16-rounded.gif");
    background-position: 0 3px;
    background-repeat: no-repeat;
    line-height: 15px;
    padding: 5px 0;
}

.comment .comment-author {
    color: #00B5E5;
    padding-left: 25px;
    text-decoration: underline;
}

.comment .comment-date {
    float: right;
    font-style: italic;
}

.comment .content-comment {
    padding-left: 25px;
    padding-top: 10px;
}

.post-comment {
    padding-top:10px;
}

.post-comment .post-title {
    font-weight: bold;
}

.post-comment .post-title:hover {
    cursor: pointer;
    color: #00B5E5;
}

.post-comment .box-post {
    padding-top:10px;
    display: none;
}

.post-comment .post-name, .post-comment .post-email  {
    padding: 10px;
    font: inherit;
    float:left;
}

.post-comment .post-email  {
    margin-left: 10px;
}

.post-comment .post-name.error[placeholder], .post-comment .post-email.error[placeholder], .post-comment textarea.error[placeholder] {
    color: red !important;
}

.post-comment textarea {
    resize: none;
    margin: 10px 0;
    padding: 10px;
    font: inherit;
}

.post-comment .publish-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}

.post-comment .publish-button:hover {
    color: #00B5E5;
    cursor: pointer;
}

.post-comment .publish-button:active {
    position:relative;
  
}

.newComment {
    display: none;
}